#wrap {

    width: 800px;
    height: available;
    text-align: left;
}

#header {
    text-align: center;
    padding:20px 0px;
    background:#01243B;
}

#bigheader {
    font-size: 40px;
    font-weight: bolder;
    letter-spacing: 14px;
    font-variant: small-caps;
    color:#FFFFFF;
}

#nav {

    width: 150px;
    height: max-content;
    width: 25%;
    float:left;
    height: 80%;
    background:#9DA7B2;
}
#main {
    float:left;
    width: 75%;
    height: 80%;
    background:C5C5C5;
}

#campMenu {
    float: left;
    padding: 5px;
}

#campView {
    float: left;
}

h2 {
    margin: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    color:#336666;
}

a:link {
    color: #01243B; text-decoration: none;
}

a:active {
    color: #01243B; text-decoration: none;
}
a:visited {
    color: #01243B; text-decoration: none; 
}
a:hover {
    color: #ff0000; text-decoration: none;
}

#main p {
    margin: 10px;
}

#main b {
    margin: 15px;
}

#main form {
    margin: 15px;
}

#footer {
    clear:both;
    padding: 10px;
    height: 30px;
    background:#01243B;
}
#footer p {
    margin: 5px;
    color:#FFFFFF;
}

#versioninfo {
    float: left;
}

#authorinfo {
    float: right;
}

selection {
    width: 150px;
    min-width: 170px;
    max-width: 170px;
    width : 170px
}

body
{
    font-size: 12px;
    font-family:verdana,sans-Serif;
    background:#ddd;
}

table
{
    font-size: 12px;
    font-family:verdana,sans-Serif;
    border-bottom-width: 1;
    border-style: solid;
}

h1
{
    font-size: 24px;
    font-style: bold;
    font-variant: small-caps;
    color:#336666;
}

b
{
    font-size: 14px;
    color:#336666;
}

th
{
    text-align: left;

}


input.linkbutton
{
    font-size:10px;
    text-decoration:underline;
    text-align:left;
    color:#FF0000;
    background-color:#d9e5e8;
    border-style:none;
}

option.bolded
{
    font-weight:bold;
}

option.green
{
    color:#007700;
}

option.red
{
    color:#990000;
}


input.minibutton
{
    font-size:8px;
    font-family:monospace;
    color:#444444;
    font-weight: bold;
    background-color:#EEEEEE;
    border-style:ridge;
    border-color:#999999;
    border-width:2px;
}

input.underscore { 
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
} 

input.boxy { 
    border-style: solid;
    border-top-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
    padding: 1px;
} 

input.borderless {
    border-width: 0px;
}

ul {
    padding-top: 18px;
    padding-bottom: 4px;
}

li {
    alignment-baseline: before-edge;
    padding-bottom: 8px;

}

input.nicebutton
{
    font-size:12px;
    font-family:Arial,sans-serif;
    font-weight:bold;
    color:#444444;
    background-color:#EEEEEE;
    border-style:solid;
    border-color:#999999;
    border-width:3px;
}